body{
    background-color: black;
    color:aliceblue;
}
h1{
   
    background: linear-gradient(to right, #f700ff7f, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    color: rgb(227, 178, 229);
}
.titulo {
    box-shadow: inset 0 -2px 0 0 #77213c; /* Risco embaixo do texto */
    padding-bottom: 5px; /* Espaço entre o texto e o risco */
}
